<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>우리 아이와 가장 닮은 가족 찾기</title>

  <!-- 외부 CSS 연결 -->
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <h1>우리 아이와 가장 닮은 가족 찾기</h1>
  <div id="roles">
    <div class="role" data-role="child">
      <p>아이</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="father">
      <p>아빠</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="mother">
      <p>엄마</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="pgrandpa">
      <p>친할아버지</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="pgrandma">
      <p>친할머니</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="mgrandpa">
      <p>외할아버지</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
    <div class="role" data-role="mgrandma">
      <p>외할머니</p>
      <input type="file" accept="image/*" />
      <canvas class="crop-canvas"></canvas>
      <button class="btn-upload" disabled>업로드</button>
    </div>
  </div>

  <button id="btn-compare" disabled>분석 시작</button>
  <div id="results"></div>

  <script src="/static/js/main.js"></script>
</body>
</html>
